<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.qm.customview_qmlibrary">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <activity android:name=".CustomviewActivity" />
        <activity android:name=".FlycoHumidifierControlActivity" />
        <activity android:name=".dials.DialsActivity" />
        <activity android:name=".WaveActivity" />
        <activity android:name=".BobActivity" />
        <activity android:name=".gitwave.WaveLibActivity"></activity>
    </application>

</manifest>